@font-face {
    font-family: 'Droid Sans';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/DroidSans-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/DroidSans-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/DroidSans-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/DroidSans-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-light-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-light-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-light-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-light-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-light-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Ubuntu';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-regular-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-regular-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-regular-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Regular-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Regular-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Light-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Light-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/BebasNeue-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/BebasNeue-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Yanone Kaffeesatz Regular';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-regular-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-regular-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Yanone Kaffeesatz Light';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-light-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-light-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-light-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/yanonekaffeesatz-light-webfont.svg#yanone_kaffeesatzlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald Light';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Light-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Light-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Light-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Light-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald';
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Regular-webfont.eot');
    src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Regular-webfont.eot#iefix') format('embedded-opentype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Regular-webfont.woff') format('woff'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Regular-webfont.ttf') format('truetype'),
         url('/rtxie.github.io/wp-content/themes/tempera/fonts/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ICON FONT - ELUSIVE */
@font-face {
  font-family: 'elusive';
  src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/elusive.eot');
  src: url('/rtxie.github.io/wp-content/themes/tempera/fonts/elusive.eot#iefix') format('embedded-opentype'),
       url('/rtxie.github.io/wp-content/themes/tempera/fonts/elusive.woff') format('woff'),
       url('/rtxie.github.io/wp-content/themes/tempera/fonts/elusive.ttf') format('truetype'),
       url('/rtxie.github.io/wp-content/themes/tempera/fonts/elusive.svg#elusive') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="crycon-"]:before,
 [class*=" crycon-"]:before {
    font-family: "elusive";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    margin-left: .2em;
    cursor:inherit;
    font-size:inherit;
}

/* Post info */
.crycon-author:before { content: '\e801'; }
.crycon-category:before { content: '\e805'; }
.crycon-category2:before { content: '\e817'; }
.crycon-folder-close:before { content: '\e81c'; }
.crycon-folder-open:before { content: '\e81d'; }
.crycon-tag:before { content: '\e802'; }
.crycon-bookmark:before { content: '\e810'; }
.crycon-edit:before { content: '\e804'; }
.crycon-comment:before { content: '\e800'; }
.crycon-comments:before { content: '\e815';}
.crycon-replies {float:left; margin-right:5px;}
.crycon-replies:before { content: '\e815'; font-size:26px; }
.crycon-date:before { content: '\e82b'; }
.crycon-time:before { content: '\e80d'; }

/* Post formats */
.crycon-status:before { content: '\e81a'; }
.crycon-aside:before { content: '\e82a'; }
.crycon-link:before { content: '\e818'; }
.crycon-audio:before { content: '\e823'; }
.crycon-video:before { content: '\e829'; }
.crycon-image:before { content: '\e824'; }
.crycon-gallery:before { content: '\e825'; }
.crycon-quote:before { content: '\e80f'; }

/* Misc */
.crycon-search:before { content: '\e816'; }
.crycon-down-dir:before { content: '\e803'; }
.crycon-right-dir:before { content: '\e806'; }
.crycon-angle-left:before { content: '\e807'; }
.crycon-angle-right:before { content: '\e808'; }
.crycon-angle-up:before { content: '\e809'; }
.crycon-angle-down:before { content: '\e80a'; }
.crycon-minus:before { content: '\e80b'; }
.crycon-left-open:before { content: '\e80c'; }
.crycon-up:before { content: '\e80e'; }
.crycon-left-dir:before { content: '\e811'; }
.crycon-up-open:before { content: '\e812'; }
.crycon-ok:before { content: '\e813'; }
.crycon-cancel:before { content: '\e814'; }
.crycon-up-dir:before { content: '\e819'; }
.crycon-right-open:before { content: '\e81e'; }
.crycon-home:before { content: '\e81f'; }
.crycon-menu:before { content: '\e820'; }
.crycon-plus:before { content: '\e821'; }
.crycon-down-open:before { content: '\e822'; }
.crycon-down:before { content: '\e826'; }
.crycon-left:before { content: '\e827'; }
.crycon-right:before { content: '\e828'; }
.crycon-star-empty:before { content: '\e82c'; }
.crycon-star:before { content: '\e82d'; }
.crycon-mail:before { content: '\e82e'; }
.crycon-home-1:before { content: '\e82f'; }
.crycon-attach:before { content: '\e830'; }
.crycon-eye:before { content: '\e831'; }
.crycon-eye-off:before { content: '\e832'; }
.crycon-tags:before { content: '\e833'; }
.crycon-flag:before { content: '\e834'; }
.crycon-warning:before { content: '\e835'; }
.crycon-location:before { content: '\e836'; }
.crycon-trash:before { content: '\e837'; }
.crycon-doc:before { content: '\e838'; }
.crycon-phone:before { content: '\e839'; }
.crycon-cog:before { content: '\e83a'; }
.crycon-basket:before { content: '\e83b'; }
.crycon-basket-circled:before { content: '\e83c'; }
.crycon-wrench:before { content: '\e83d'; }
.crycon-wrench-circled:before { content: '\e83e'; }
.crycon-mic:before { content: '\e83f'; }
.crycon-volume:before { content: '\e840'; }
.crycon-volume-down:before { content: '\e841'; }
.crycon-volume-off:before { content: '\e842'; }
.crycon-headphones:before { content: '\e843'; }
.crycon-lightbulb:before { content: '\e844'; }
.crycon-resize-full:before { content: '\e845'; }
.crycon-resize-full-alt:before { content: '\e846'; }
.crycon-resize-small:before { content: '\e847'; }
.crycon-resize-vertical:before { content: '\e848'; }
.crycon-resize-horizontal:before { content: '\e849'; }
.crycon-move:before { content: '\e84a'; }
.crycon-zoom-in:before { content: '\e84b'; }
.crycon-zoom-out:before { content: '\e84c'; }
.crycon-arrows-cw:before { content: '\e84d'; }
.crycon-desktop:before { content: '\e84e'; }
.crycon-inbox:before { content: '\e84f'; }
.crycon-cloud:before { content: '\e850'; }
.crycon-book:before { content: '\e851'; }
.crycon-certificate:before { content: '\e852'; }
.crycon-tasks:before { content: '\e853'; }
.crycon-thumbs-up:before { content: '\e854'; }
.crycon-thumbs-down:before { content: '\e855'; }
.crycon-help-circled:before { content: '\e856'; }
.crycon-star-circled:before { content: '\e857'; }
.crycon-bell:before { content: '\e858'; }
.crycon-rss:before { content: '\e859'; }
.crycon-trash-circled:before { content: '\e85a'; }
.crycon-cogs:before { content: '\e85b'; }
.crycon-cog-circled:before { content: '\e85c'; }
.crycon-calendar-circled:before { content: '\e85d'; }
.crycon-mic-circled:before { content: '\e85e'; }
.crycon-volume-up:before { content: '\e85f'; }
.crycon-print:before { content: '\e860'; }
.crycon-edit-alt:before { content: '\e861'; }
.crycon-edit-2:before { content: '\e862'; }
.crycon-block:before { content: '\e863'; }
